@import '../mixins.scss';

.form-card-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @include minWidth(md) {
        width: 600px;
    }
}

.form-card {
    border-radius: 9px;
    height: 700px;
    width: 95vw !important;
    
    @include minWidth(md) {
        width: 400px !important;
    }

    &-text-block {
        padding-top: 10px;
    }

}

.slick-active {
    z-index: 10;
    filter: blur() !important;
    margin: 0 0 !important;
}

.slick-slide {
    position: relative;
    filter: blur(3px);
    margin: 0 0;
}

